.header{
  display: flex;
  width: 100%;
  height: 50px;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;

  .header__right{
    display: flex;
  }
  .header__right__button{
    width:90px;
    height: 40px;
    border-radius: 20px;
    background-color: #F40000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header__right__button:hover {
    background-color: #A20000;
  }
  .header__right__button:active {
    background-color: #A20000;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
  }
  .login__text{
    font-family: os-reg;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
  }
  .profile{
    margin-left:10px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .profile:hover {
    background-color: #A20000;
  }
  .profile:active {
    background-color: #A20000;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
  }
  .status__active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #009639;
    position: absolute;
    border:2px solid #fff;
    top:0;
    right: 0;
  }



}
